


  body{
    padding-top: 0px;
}

.gridContainer {
    width: 100%;
   /* max-width:1500px;*/
    padding-left: 0.0%;
    padding-right: 0.0%;
    margin: auto;
    clear: none;
    float: none;
    margin-left: auto;
}

/*-------Text Styles------*/
h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #500000;
    text-shadow:none;
}


h1.white {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

h2{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}


h2.white{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h3{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 20px 0;
    }

p.white{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

a:hover{
    text-decoration: none;
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

a{
  color: #500000;
}

a.visited{
    color: #500000;
    background-color: #ffef00;
}

a.active{
    color: #500000;
    background-color: #ffef00;
}


/*-------Header and Top Nav Styles------*/
#top-nav {
    background: #500000;
    height: 200px;
    color: #000;
    padding-top: 20px;
}

header#header{
    position: relative;
    height: 200px;
    background-color: #000;
    width: 100%;
}


/*-------Nav Styles----*/

.bg-light {
    background-color: #500000!important;
     padding-top: 0px;
    padding-bottom: 0px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*--Logos--*/
.logo{
    width:200px;
}

.logo2{
  width:100px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #500000;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

}

.white {
  color:#fff;
}
.dropdown-item:hover{

    color: #500000;
    background: #ffef00;
}


.navbar-light .navbar-nav .nav-link:hover{
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

.navbar-light .navbar-nav .nav-link .visited{
    color: #500000;
    background-color: #ffef00;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #500000;
    background-color: #ffef00;
    padding: 1em 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 1em 1em;
}


/*-------Carousel Styles------*/
.carousel-item {
  height: 100vh;
  min-height: 250px;
  height: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;


}

#section1{
  margin:0px;
}


/*-----Button Styles------*/
.btn-primary {
    color: #fff;
    background-color: #500000;
    border-color: #500000;
}

.btn-primary:hover{
    color: #500000;
    background-color: #ffef00;
    border-color: #ffef00;
}

#section1{
  padding-top: 50px!important;
  margin:0px;
}


/*-----Section 3 Parrallax------*/
#section3 {
    background-image: url(../img/parallaxMed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    background-attachment: fixed;
}



/*---Section 4 Slider Styles----*/

.item-two{
    height: 50px;
    color: #000;

}

.item-two p{

    color: #000;
}

.captionTwo{
    top:0%;
}

.stars{
    width: 100px;
    margin-bottom: 30px;
}


#section5 {
  background-color:rgba(0,0,0,0.05);
  padding-top:20px;
}

/*-------Form and Iframe Google Maps------*/

form{
  margin-bottom: 20px;
}

iframe{
    width: 100%;
}


/*------Footer Styles----*/

footer {
    background: #500000;
    height: auto;
    padding-top: 10px;
    color: #fff;
}

ul.bottom-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
}

li.nav-item-bottom{
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;

}

.nav-link-bottom{
    color: #fff;
    font-size:15px;
}

.nav-link-bottom:hover{
    color: #500000;
}

.copyright{
    font-size:13px;
    color:#fff;
    margin:0px;
}

p.right{
    text-align: left!important;
}

.center{
    text-align: center!important;
}

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
   text-shadow: 1px 1px 2px rgba(175, 175, 175, 1);
  }

  #carouselExampleFade h1{
  color: #fff;
}

#carouselExampleFade h2{
  color: #fff;
}
#carouselExampleFade p{
  color: #fff;
}

/*------ken burns effect------*/
.carousel .carousel-item img {
  -webkit-transition: all 22s;
  -moz-transition: all 22s;
  -o-transition: all 22s;
  transition: all 22s;
}
.carousel .carousel-item.active.inactiveUntilOnLoad img,
.carousel .carousel-item img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.carousel .carousel-item.active img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}



@media only screen and (min-width: 768px) 
and (max-width: 1100px){

body{
    padding-top: 0px;
}

.gridContainer {
    width: 100%;
   /* max-width:1500px;*/
    padding-left: 0.0%;
    padding-right: 0.0%;
    margin: auto;
    clear: none;
    float: none;
    margin-left: auto;
}

/*-------Text Styles------*/
h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #500000;
    text-shadow:none;
}


h1.white {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

h2{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}


h2.white{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h3{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 20px 0;
    }

p.white{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

a:hover{
    text-decoration: none;
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

a{
  color: #500000;
}

a.visited{
    color: #500000;
    background-color: #ffef00;
}

a.active{
    color: #500000;
    background-color: #ffef00;
}


/*-------Header and Top Nav Styles------*/
#top-nav {
    background: #500000;
    height: 200px;
    color: #000;
    padding-top: 20px;
}

header#header{
    position: relative;
    height: 200px;
    background-color: #000;
    width: 100%;
}


/*-------Nav Styles----*/

.bg-light {
    background-color: #500000!important;
     padding-top: 0px;
    padding-bottom: 0px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*--Logos--*/
.logo{
    width:200px;
}

.logo2{
  width:100px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #500000;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

}

.white {
  color:#fff;
}
.dropdown-item:hover{

    color: #500000;
    background: #ffef00;
}


.navbar-light .navbar-nav .nav-link:hover{
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

.navbar-light .navbar-nav .nav-link .visited{
    color: #500000;
    background-color: #ffef00;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #500000;
    background-color: #ffef00;
    padding: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 5px;
}

 .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,2255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
  margin-bottom: 5px;
}


/*-------Carousel Styles------*/
.carousel-item {
  height: 100vh;
  min-height: 250px;
  height: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;


}

#carouselExampleFade h1{
  color: #000;
}

#carouselExampleFade h2{
  color: #000;
}
#carouselExampleFade p{
  color: #000;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
   text-shadow: 1px 1px 2px rgba(175, 175, 175, 1);
   }


/*-----Button Styles------*/
.btn-primary {
    color: #fff;
    background-color: #500000;
    border-color: #500000;
}

.btn-primary:hover{
    color: #500000;
    background-color: #ffef00;
    border-color: #ffef00;
}

#section1{
  padding-top: 20px!important;
 
}


/*-----Section 3 Parrallax------*/
#section3 {
    background-image: url(../img/parallaxMed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    background-attachment: fixed;
}



/*---Section 4 Slider Styles----*/

.item-two{
    height: 50px;
    color: #000;

}

.item-two p{

    color: #000;
}

.captionTwo{
    top:0%;
}

.stars{
    width: 100px;
    margin-bottom: 30px;
}


#section5 {
  background-color:rgba(0,0,0,0.05);
  padding-top:20px;
}

/*-------Form and Iframe Google Maps------*/

form{
  margin-bottom: 20px;
}

iframe{
    width: 100%;
}


/*------Footer Styles----*/

footer {
    background: #500000;
    height: auto;
    padding-top: 10px;
    color: #fff;
}

ul.bottom-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
}

li.nav-item-bottom{
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;

}

.nav-link-bottom{
    color: #fff;
    font-size:15px;
}

.nav-link-bottom:hover{
    color: #500000;
}

.copyright{
    font-size:13px;
    color:#fff;
    margin:0px;
}

p.right{
    text-align: left!important;
}

.center{
    text-align: center!important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff!important;
    text-align: center;
   text-shadow: 1px 1px 2px rgba(175, 175, 175, 1);
  }

  #carouselExampleFade h1{
  color: #fff;
}

#carouselExampleFade h2{
  color: #fff;
}
#carouselExampleFade p{
  color: #fff;
}

/*---ken burns effect disabled---*/
.carousel .carousel-item img {
  -webkit-transition: none;


}
.carousel .carousel-item.active.inactiveUntilOnLoad img,
.carousel .carousel-item img {
  -webkit-transform: none;

}
.carousel .carousel-item.active img {
  -webkit-transform: none;

}


}



@media only screen and (min-width: 375px)
and (max-width: 676px) 
{
body{
    padding-top: 0px;
}

#section1{
  padding-top: 20px!important;
 
}

.gridContainer {
    width: 100%;
   /* max-width:1500px;*/
    padding-left: 0.0%;
    padding-right: 0.0%;
    margin: auto;
    clear: none;
    float: none;
    margin-left: auto;
}

/*-------Text Styles------*/
h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #500000;
    text-shadow:none;
}


h1.white {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 43px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }

h2{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}


h2.white{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h3{
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    color: #000;
    text-shadow:none;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 20px 0;
    }

p.white{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

a:hover{
    text-decoration: none;
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

a{
  color: #500000;
}

a.visited{
    color: #500000;
    background-color: #ffef00;
}

a.active{
    color: #500000;
    background-color: #ffef00;
}


/*-------Header and Top Nav Styles------*/
#top-nav {
    background: #500000;
    height: 300px;
    color: #000;
    padding-top: 20px;
}

header#header{
    position: relative;
    height: 300px;
    background-color: #000;
    width: 100%;
}


/*-------Nav Styles----*/

.bg-light {
    background-color: #500000!important;
     padding-top: 0px;
    padding-bottom: 0px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*--Logos--*/
.logo{
    width:200px;
}

.logo2{
  width:100px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #500000;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

}

.white {
  color:#fff;
}
.dropdown-item:hover{

    color: #500000;
    background: #ffef00;
}


.navbar-light .navbar-nav .nav-link:hover{
    color: #500000;
    background-color: #ffef00;
    transition: ease-in .3s;
}

.navbar-light .navbar-nav .nav-link .visited{
    color: #500000;
    background-color: #ffef00;

}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #500000;
    background-color: #ffef00;
    padding: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 5px;
}

 .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,2255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
  margin-bottom: 5px;
}



/*---ken burns effect disabled---*/
.carousel .carousel-item img {
  -webkit-transition: none;


}
.carousel .carousel-item.active.inactiveUntilOnLoad img,
.carousel .carousel-item img {
  -webkit-transform: none;

}
.carousel .carousel-item.active img {
  -webkit-transform: none;

}

.carousel-item {
    height: 100vh;
    min-height: 250px;
    height: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 0%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
   text-shadow: 1px 1px 2px rgba(175, 175, 175, 1);
   }

   .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  #carouselExampleFade h1{
  color: #fff;
  font-size:15px;
  margin:0px;
}

#carouselExampleFade h2{
  color: #fff;
   font-size:15px;
     margin:0px;
}
#carouselExampleFade p{
  color: #fff;
   font-size:15px;
     margin:0px;
}



/*-----Button Styles------*/
.btn-primary {
    color: #fff;
    background-color: #500000;
    border-color: #500000;
}

.btn-primary:hover{
    color: #500000;
    background-color: #ffef00;
    border-color: #ffef00;
}

#section1{
  padding-top: 0px!important;
}


/*-----Section 3 Parrallax------*/
#section3 {
    background-image: url(../img/parallaxMed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    background-attachment: fixed;
}



/*---Section 4 Slider Styles----*/

.item-two{
    height: 50px;
    color: #000;

}

.item-two p{

    color: #000;
}

.captionTwo{
    top:0%;
}

.stars{
    width: 100px;
    margin-bottom: 30px;
}


#section5 {
  background-color:rgba(0,0,0,0.05);
  padding-top:20px;
}

/*-------Form and Iframe Google Maps------*/

form{
  margin-bottom: 20px;
}

iframe{
    width: 100%;
}


/*------Footer Styles----*/

footer {
    background: #500000;
    height: auto;
    padding-top: 10px;
    color: #fff;
}

ul.bottom-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

li.nav-item-bottom{
    padding-left: 15px;
    padding-right: 15px;
    text-align:center;

}

.nav-link-bottom{
    color: #fff;
    font-size:15px;
}

.nav-link-bottom:hover{
    color: #500000;
}

.copyright{
    font-size:13px;
    color:#fff;
    margin:0px;
}

p.right{
    text-align: left!important;
}

.center{
    text-align: center!important;
}

}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 

header#header {
    position: relative;
    height: 200px;
    background-color: #fff;
    width: 100%;
}

/*-------Section1 Styles------*/
#section1{
    padding-top: 0px!important;
    padding-bottom: 50px;
    margin-top: 0px;
}


/*-------Carousel Styles------*/
#carouselExampleFade h1 {
    font-size: 20px;
    margin: 0px;
    color: #fff;
}

#carouselExampleFade h2 {
    color: #fff;
}

#carouselExampleFade p {
    color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    top: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
   text-shadow: 1px 1px 2px rgba(175, 175, 175, 1);
   }


ul.bottom-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
}

#section1{
  padding-top: 20px!important;
 
}
  
}



